---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

// profile コレクションを取得
const profile = await getCollection("profile");

const entry = profile[0];
const { Content } = await entry.render();

---

<BaseLayout title="Profile">
  <article>
    <h1>Profile</h1>
    <h2>{entry.data.name}</h2>
    <p>{entry.data.about}</p>
    <p><Content /></p>
  </article>
</BaseLayout>