---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const videos = await getCollection("videos");

  return videos.map(item => ({
    params: { slug: item.slug },
  }));
}

const { slug } = Astro.params;
// slug に一致する記事を取得
const entry = await getEntry("videos", slug);
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <article>
    <h1>{entry.data.title}</h1>
      <iframe src={entry.data.url} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </article>
</BaseLayout>
