/* ------------------------------
    Color Variables
------------------------------ */
:root {
  --bg: #fff;
  --text: #222;
  --muted: #666;
  --border: #ddd;
  --rdlf-black: rgba(25, 25, 25, 0.9);
  --fixed-white: #ddd;
  --fixed-blue: #3B82F6
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --text: #ddd;
    --muted: #999;
    --border: #333;
  }
}

/* ------------------------------
   Reset / Base
------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

/* ------------------------------
   Layout
------------------------------ */

main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  padding-top: 90px;
  flex: 1;
  background-color: var(--bg);
}

section {
  margin-bottom: 2rem;
}

.single-section {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.home-posts {
  display: block;
}

@media (min-width: 780px) {
  .home-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    align-items: start;
    margin-bottom: 0;
  }

  .home-news,
  .home-release,
  .home-lyrics,
  .home-profile {
    margin-bottom: 0;
  }
}

.home-profile li {
    display: flex;
}

.home-profile a {
    display: block;
    line-height: 0rem;
}

/* ------------------------------
   Typography
------------------------------ */

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

p {
  margin: 0 0 1rem;
}

/* ------------------------------
   Links
------------------------------ */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ------------------------------
   Link Icons
------------------------------ */

.top-links {
  text-align: center;
}

/* ------------------------------
   Post List (News / Release / Videos)
------------------------------ */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

li {
  gap: 1rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

li time {
  color: var(--muted);
  white-space: nowrap;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

img {
  border: var(--border) 1px solid;
  margin: auto;
  display: block;
}

/* ------------------------------
   Profile
------------------------------ */

article {
  max-width: 640px;
  margin: 0 auto;
}
.article-content .release-type {
  color: var(--muted);
}
.article-content .date {
  color: var(--muted);
  white-space: nowrap;
}
.article-content a {
  text-decoration: underline;
}
.article-content iframe {
  margin: auto;
  display: block;
}
