---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const news = await getCollection("news");

  return news.map(item => ({
    params: { slug: item.slug },
  }));
}

const { slug } = Astro.params;
// slug に一致する記事を取得
const entry = await getEntry("news", slug);
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <article class="article-content">
    <h1>{entry.data.title}</h1>
    <p><time class="date">{entry.data.date.toLocaleDateString("ja-JP", { year: "numeric", month: "2-digit", day: "2-digit", })}</time></p>
    <Content />
  </article>
</BaseLayout>

