---
import type { CollectionEntry } from "astro:content";

const { posts, basePath } = Astro.props as {
  posts: CollectionEntry<any>[];
  basePath: string;
};
---

<section class="lyrics-list">
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/${basePath}/${post.id.substring(0, post.id.lastIndexOf('.'))}`}>
          {post.data.title}
          {post.data.withChord && <span class="chord">[Chord]</span>}
        </a>
      </li>
    ))}
  </ul>
</section>

<style>
  .lyrics-list ul {
    list-style: disc;
    padding-left: 1em;
    margin: 0;
  }

  .chord {
    font-size: 0.6rem;
    color: var(--fixed-blue);
  }
</style>